<section class="s-content">
    <div class="row masonry-wrap">
        <div class="masonry">
            <div class="grid-sizer"></div>
            <% @lists.each do |list| %>
                <article class="masonry__brick entry format-standard" data-aos="fade-up">
                    <div class="entry__thumb">
                        <a href="<%= list_path(list.id) %>" class="entry__thumb-link">
                            <% if list.picture == [] %>
                                <img src="assets/thumbs/single/standard/placeholder.png" srcset="assets/thumbs/single/standard/placeholder.png 1x, assets/thumbs/single/standard/placeholder.png 2x" alt="">
                            <% else %>
                                <% list.picture.each do |pic|%>
                                    <img src="<%= pic.url %>">
                                <% end %>
                            <% end %>
                        </a>
                    </div>
                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="single-standard.html">December 15, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="single-standard.html"><%= list.title %></a></h1>
                        </div>
                        <div class="entry__excerpt">
                            <p>
                               <%= list.content %>
                            </p>
                        </div>
                    </div>
                </article>
            <% end %>
        </div>
    </div>
</section> 